.swiper {
    width: 100%;
    height: 100%;
    box-shadow: 0 0 12px var(--color-light);
}

.swiper-slide {
    text-align: center;
    background: #fff;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    margin-right: 0;
    object-fit: cover;
}

.swiper {
    margin-left: auto;
    margin-right: auto;
}

.info_slide {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide_text {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    padding-left: var(--pad);
    width: max-content;
    text-align: left;
    align-items: left;
    gap: 0.5rem;
}

.slide_img {
    margin-left: auto;
}